<!DOCTYPE html>
<html>
<head>
	<title>trendline</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
	<script type="text/javascript" src="socket.io/socket.io.js"></script>
	<script type="text/javascript" src='js/getlines.js'></script>
</head>
<body>
	<!--header-->	
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper white z-depth-0">
				<div style="align:center">
					<span class="brand-logo center black-text">
						<div class="row">
							<span><strong>trendline.</strong></span>	
						</div>
					</span>
				</div>
			</div>
		</nav>
	</div>
	<!--container-->
	<div class='container'><br>
		<div id='line-container' style="border:grey 2px">
			
			<!-- line cards -->
			<div class="row">
				<div class="col l8 s12 m12 offset-l2" id="234">
					<!--lines class added here-->
				</div>
			</div>

			<!--more-->
			<div class="row">
				<div class="col l8 s12 m12 offset-l2">
					<div class="card-panel z-depth-0" style="text-align:center">		
							<!--loading animation-->
							<div class="row" id="progress">
								<div class="progress">
    	  							<div class="indeterminate"></div>
  								</div>
							</div>
							<a href='javascript:void(0);' onclick="query();" id='more' class="waves-effect waves-light btn" style="display:none">
								more
							</a>
					</div>
				</div>
			</div>

			<!--footer-->
			<div class="row">
				<div class="col l8 s12 m12 offset-l2">
					<div class="card-panel">
						<h5 style="font-size:25px"><strong>about</strong></h5>
							<p><strong>trendline is an opensource news bot app running on free servers and is still in beta.This app is opensourced.You can contribute by pulling it on <a href="https://github.com/ilachu/trendline" target='_blank'>github</a>.(On the works:error handlers,loaction based news.)
							</strong></p> 
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>