<!DOCTYPE html>
<html>
<head>
	<title>trendline</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
	<script type="text/javascript" src="socket.io/socket.io.js"></script>
	<script type="text/javascript" src='js/getlines.js'></script>
</head>
<body>
	<!--header-->	
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper white">
				<span class="brand-logo center black-text">
					<div class="row">
						<span><strong>trendline.</strong></span>	
					</div>
				</span>
			</div>
		</nav>
	</div>
	<!--container-->
	<div class='container'>
		<div id='line-container'>
			
			<!-- line cards -->
			<div class="row">
				<div class="col l8 s12 m12 offset-l2" id="234"><!--lines class added here--></div>
			</div>

			<!--more-->
			<div class="row">
				<div class="col l8 s12 m12 offset-l2">
					<div class="card-panel" style="text-align:center">
							
							<!--loading animation-->
							<div class="progress" id="progress">
								<div class="indeterminate"></div>
							</div>
							<a href='javascript:void(0);' onclick="query();" id='more'></a>

					</div>
				</div>
			</div>

			<!--footer-->
			<div class="row">
				<div class="col l8 s12 m12 offset-l2">
					<div class="card-panel">
						<h5><strong>about</strong></h5>
							<p><strong>trendline is an opensource news bot app running on free servers and is still in beta.This app is opensourced.You can contribute by pulling it on <a href="https://github.com/ilachu/trendline" target='_blank'>github</a>.(On the works:caching,error pages,loaction based news.)
							</strong></p> 
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>